name: Recent Activity

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: Readme-Workflows/recent-activity@main
        with:
          GH_USERNAME: kishoraman21
          CONFIG_FILE: .github/recent-activity.config.yml
